.Board {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  height: 100px;
  width: 80%;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: auto;
}

.ValuesCardOld {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  height: 150px;
  width: 80%;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: auto;
}
