.footer {
    background-color: #0455bf;
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
}

.footer span{
    display: block;
    font-weight: bold;
}