.container{
    background-color: #033f8d;
    height: 60px;
    width: 60px;
    border-radius: 20%;
    padding: 10px;
}

.coupler{
    background-color: black;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    padding: 1px;
    position: relative;
}

.triangle {
    background-color: #033f8d;
    width: 58px;
    height: 58px;
    background: red;
    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
    position: relative;
}

.square {
    width: 50px;
    height: 50px;
    border: 1px solid #555;
    background: #056bf1;
    position: relative;
}


spam{
    position: absolute;
    z-index: 1000;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    font-weight: bold;
    line-height: 25px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 0.85rem;
}



