.container {
  background-color: #033f8d;
  height: 75px;
  width: 75px;
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  place-content: space-evenly;
  cursor: pointer;
}

.coupler {
  background-color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  padding: 1px;
}

.triangle {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #f00;
}

.square {
  width: 30px;
  height: 30px;
  border: 0px solid #555;
  border-radius: 3px;
  background: #056bf1;
}

span {
  /* position: absolute; */
  width: fit-content;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
}
