/* Add some padding inside the card container */
.container {
  margin: auto;
  padding: 1px;
  color: white;
  justify-content: left;
}

.container input {
  width: 3rem;
  text-align: center;
}

.container div label {
  text-align: left;
}
