/* Add some padding inside the card container */
.container {
  margin: auto;
  padding: 1px;
  color: white;
  justify-content: space-between;
}

.container input {
  width: 15px;
}

.container div label {
  text-align: left;
}
