.card {
  background-color: darkblue;
  width: 110px;
  height: 180px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-color: black;
  border-radius: 5px; /* 5px rounded corners */
  display: flex;
}

/* Add some padding inside the card container */
.container {
  margin: auto;
  padding: 1px;
  color: white;
  justify-content: space-between;
}

.container input {
  width: 15px;
}

.container div label {
  text-align: left;
}

.valuesCard {
  border: 2px solid black;
  border-radius: 10px;
  background-color: #ffffff;
  height: 200px;
  width: 80%;
  align-items: center;
  display: flex;
  padding: 5px;
  gap: 5px;
  margin: auto;
}

.distance {
  display: flex;
}

.distance input {
  text-align: center;
  display: flex;
  width: 3rem;
}

.distance label {
  font-weight: bold;
  font-size: 20px;
  color: white;
}
