section{
    background-color: #011140;
    height: 500px;
    text-align: center;
    justify-content: center;
    align-content: center;
    display: block;
    padding-top: 20px;
}

h1 {
    color: whitesmoke;
    font-size: 3rem;
}

body {
    margin: 0;
}