div{
    background-color: #ffffff;
    margin: 0px;
}

section{
    text-align: center;
    justify-content: center;
    display: flex;
}

#canvas{
    background-color: #011140;
    height: 800px;
    width: 1200px;
}